    <center>
    <div id="tiles">
    <ul class="coangrid">    
    <li><img src="http://devindavid.com/coan/images/covers/2.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/3.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/4.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/1.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/5.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/6.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/7.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/8.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/12.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/9.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/10.jpg"/></li>
    <li><img src="http://devindavid.com/coan/images/covers/11.jpg"/></li>
    </ul>
    </div>
</center>
