<div class="row coanified">
  <ul>
    <li class="coanImage"><% @overlay_images.each do |image|  %>
      <p><%= image_tag "https://s3-us-west-2.amazonaws.com/coan2/#{current_user.uid}_#{image}",
              class: 'img-responsive', data: {action: 'zoom'} %></p>
    </li>
    <li class="buttons">
        <h4 class="instructions">
        Thanks so much for your support! Before posting to Facebook, feel free to copy the below text to use in the desctiption on Facebook.
        </h4>
        <button class="copyBttn" data-clipboard-target="#copyBox">
        CLICK TO COPY DESCRIPTION TO CLIPBOARD
        </button>
        <h5 id="copyBox" class="fbcaption">
            I'm with Coan! Make sure to get out and vote for Brandon TODAY! To COANify your profile photo, visit http://coanformetrocouncil.com/coanify/. #YesWeCoan
        </h5>
        <h4 class="instructions">
            After posting from this app, you must select "Make Profile Picture" to use it as a profile picture. Zoom out the crop to the full frame, and remember to paste the description. And after that, go to your polling place and VOTE!</h4>

        <%= link_to 'Post to Facebook', publish_path(image: image.split('.').first),
            class: 'btn btn-primary btn-block fbicon', target: '_blank' %>
        <%= link_to 'Download', download_path(image: image.split('.').first),
            class: "btn btn-success btn-block downloadicon" %>
        <% end %>
    </li>
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script type="text/javascript">
new Clipboard('.copyBttn');
</script>
<script type="text/javascript">
    if (window.getSelection) {
          if (window.getSelection().empty) {
                function selectText('copyBox') {
                    if (document.selection) {
                        var range = document.body.createTextRange();
                        range.moveToElementText(document.getElementById('copyBox'));
                        range.select();
                    } else if (window.getSelection) {
                        var range = document.createRange();
                        range.selectNode(document.getElementById('copyBox'));
                        window.getSelection().addRange(range);
                    }
                };
          } else if (this.getSelection().toString()==true) {
                this.onClick(
                    window.getSelection().removeAllRanges()
                )
          }
          };
    
    function selectText('copyBox') {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById('copyBox'));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById('copyBox'));
            window.getSelection().addRange(range);
        }
    };
    </script>