<div class="row coanified">
  <ul>
    <li class="coanImage"><% @overlay_images.each do |image|  %>
      <p><%= image_tag "https://s3-us-west-2.amazonaws.com/coan2/#{current_user.uid}_#{image}",
              class: 'img-responsive', data: {action: 'zoom'} %></p>
    </li>
    <li class="buttons">
        <h4 class="instructions">
        Thanks so much for your support! Before posting to Facebook, feel free to copy the below text to add to the caption on Facebook. If posting from this app, you must select "Make Profile Picture" to use it as a profile picture.
        </h4>
        <h5 class="fbcaption">I'm with Coan! Please visit www.CoanForMetroCouncil.com, and remember to vote for Brandon on Tuesday! #YesWeCoan
        </h5>
        <h4 class="postNote">
            Pending approval from Facebook, the "Post to Facebook" feature may not be available without testing permissions. You may download the image and upload it to Facebook the old-fashioned way.
        </h4>
        <%= link_to 'Post to Facebook', publish_path(image: image.split('.').first),
            class: 'btn btn-primary btn-block fbicon', target: '_blank' %>
        <%= link_to 'Download', download_path(image: image.split('.').first),
            class: "btn btn-success btn-block downloadicon" %>
        <% end %>
    </li>
    </ul>
</div>
