<div class="row">
    <div>
        <h1>COANify</h1>
        <h3>your Facebook photo!</h3>
    </div>
    <% if current_user %>
    <div class="fbUserID">
    <ul>
    <li>
        <%= image_tag current_user[:image_url], width: 50, align: 'right' %>       
    </li>
    <li>
    <small>
        <%= current_user[:name] %><br/>
        <p><%= link_to 'Logout', logout_path, method: :delete %></p>
    </small>
    </li>
    </ul>
        <% else %>
        <div>
        <h4 class="welcomeText">Click "Login with Facebook" will retrieve your <span style="font-weight:bold;">current profile photo</span> and add a sweet COAN overlay to it. You will be able to review the image before posting or downloading. </h4></div>
        <div id="loginButton">
            <%= link_to "Login with Facebook", auth_provider_url, class: 'btn btn-success btn-lg fbicon' %></div>
  </div>
    <% end %>
</div>